@model List<EjemploMVC_MAT.Models.Card>

<div class="container">
    <h1>Lista de Cartas</h1>
    <div class="row">
        @foreach (var card in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    @if (card.Card_Images != null && card.Card_Images.Any())
                    {
                        <img src="@card.Card_Images[0].Image_Url" alt="Card Image" />
    
                    }
                    else
                    {
                        <img src="https://via.placeholder.com/150" class="card-img-top" alt="Image not available" />
                    }
                    <div class="card-body">
                        <h5 class="card-title">@card.Name</h5>
                        <p class="card-text">@card.Desc</p>
                        <a href="@Url.Action("Details", "Home", new { id = card.Id })" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <!-- Paginación -->
</div>
